$gantt-bg: lightgreen;
$gantt-row-width: 16rem;
$label-months-height: 3em;
$label-months-bg: rgb(75, 75, 126);
$label-months-color: lighten($label-months-bg, 100%);
$border-color: grey;
$border-radius: 0.6em;
$btn-primary-color: rgb(124, 71, 162);
$btn-alert-color: rgb(205, 103, 94);
$btn-font-color: white;

